[2021-07-06 23:40] mkhstar commented on #223
Alright @AsheshL i will try to clean up that the next version

[2021-07-07 16:35] kanhaiya-2000 commented on #219
Well,it may be local issue...This is nolonger noticeable after i upgrade my browser.Closing this issue

[2021-07-07 16:35] #219 closed

[2021-07-07 16:55] Adityacs001 commented on #224
Hi @mkhstar , Thanks for your prompt reply and library. Great work.

Regarding issue , i'm doing exactly as your suggestion on threaf #208. Below is code snipper :

Issue is that while running Dev it works well . When we are getting syntax error while next build and next export. Downgrading works both while in dev mode and while build mode.

Though i'm going through thread #208 and will try fix. I

[2021-07-11 14:10] Gabsys opened #225 "TypeError: this._iframeAutoHeight is not a function"
I am using SunEditor with NextJS. Upon pasting content into the editor, the following error will popup:
![image](https://user-images.githubusercontent.com/23636171/125198519-c8fd1b00-e294-11eb-8e51-de8e12ccd739.png)

This is my SunEditor setup:
[code]

P/S:  Not only pasting, using other formatting like Bold, Underline, Italic etc. will also pop this error.

Also, Bold is not showing its effect on

[2021-07-11 14:19] Gabsys commented on #212
@guido-visser are you still facing the issue? I am still facing this issue with the following version:
[code]

[2021-07-11 14:26] Gabsys opened #226 "Auto scroll up + change of typing location after pausing to type"
I am using `setContent` with `onChange` and I realise the editor will always scroll up with typing location moved to end of the paragraph after I made some changes in the middle of the paragraph.

My SunEditor setup:
[code]

Using version:
[code]

[2021-07-12 01:03] noobnoobdc137 opened #227 "How to customize 'formatBlock'"
![image](https://user-images.githubusercontent.com/55765209/125215928-59118380-e2da-11eb-8c16-5a0e9f25a913.png)

I want to remove `code` from the list

it seems like it loads the module directly
[code]

but in https://github.com/JiHong88/SunEditor/blob/master/src/plugins/submenu/formatBlock.js

[code]

[2021-07-12 12:14] admir4l commented on #227
Hi
I am working on a similar project and you can simply do this by passing the "formats" array inside "setOptions". see the sample below:

`
<SunEditor
         setOptions={{
          formats: ["h1", "h2", "h3", "p", "blockquote", "pre"],
        }}
      />
`

[2021-07-13 00:27] noobnoobdc137 commented on #227
It worked thanks man 👊🏼

[2021-07-13 00:27] #227 closed

[2021-07-13 04:10] Gabsys commented on #226
I realise I don't need to put `onChange` with `setContents`. I am able to access updated value with `event.target.content.value` afterwards without needing to use onChange, so I end up only using setContents to set its initial value.

[2021-07-13 21:45] mkhstar commented on #226
Hi @Gabsys
To set the editor's initial value please use the `defaultValue` prop.
eg.
[code]

[2021-07-13 21:45] #226 closed

[2021-07-13 21:56] mkhstar commented on #225
Hi @Gabsys
I didn't encounter the issues you are facing. It would really help if you post a demo on codesandbox. By the way two-way binding shouldn't be used. This is because the setContents prop triggers the onChange event. If you want to set the initial value of the editor, use the defaultValue prop

[2021-07-13 22:59] mkhstar commented on #224
Hi @Adityacs001
I didn't face any issues when I run the build script as well. Possible you are importing something from the suneditor package at another place inside you pages directory. If you could post a demo I would be really glad

[2021-07-14 03:58] Gabsys commented on #225
Hi, you may test it here: https://codesandbox.io/s/suneditor-nextjs-error-demo-mpd77

[2021-07-14 04:09] Gabsys commented on #226
Hi, the issue still persist after using `defaultValue`, you may test it here: https://codesandbox.io/s/suneditor-nextjs-error-demo-mpd77

Step to reproduce:

1) Paste the following into the editor:
[code]

2) Type something at the 'CHANGE HERE' line

3) It will then automatically scroll to top & set the typing location to the last line

[2021-07-14 09:01] mkhstar commented on #225
Hi I have realized that you are importing suneditor-react inside your component itself. It should be outside instead.
Eg below
[code]

[2021-07-14 11:29] Gabsys commented on #225
Oh lol, silly mistake. Thanks a lot!

[2021-07-14 11:29] #225 closed

[2021-07-16 20:57] FaganSC opened #228 "Error TS1005: ';' expected"
Trying to update my solution to 3.2.0 and getting the following errors with the SunEditor-React package
![image](https://user-images.githubusercontent.com/810028/126007756-dc48eb97-4b70-49a3-b0a4-f3b812da6f85.png)

Any thoughts?

[2021-07-18 00:01] jeevansai502 opened #229 "Dropdown not displaying selected value"
The dropdown for font, size and formats is not showing the value selected, it's always showing static text.

<img width="782" alt="image" src="https://user-images.githubusercontent.com/18240504/126051861-f4c81987-058a-4e8c-b8fe-ef7a58678853.png">

Issue can be seen from version 3.0.0, before that it's working fine.

[2021-07-18 17:16] YanCamiloDev commented on #128
Full implementation with axios

`const handleImageUploadBefore = async (files, info, uploadHandler) => {
    Object.defineProperty(files[0], 'name', {
      writable: true,
      value: 'upload'
    });
    try {
      const formData = new FormData();
      formData.append('file', files[0])
      const res = await apiIntra.post('/conteudo/saveImgBody', formData, {
        headers: {
          'con

[2021-07-18 17:17] YanCamiloDev commented on #128
Full implementation with axios:

const handleImageUploadBefore = async (files, info, uploadHandler) => {
    Object.defineProperty(files[0], 'name', {
      writable: true,
      value: 'upload'
    });
    try {
      const formData = new FormData();
      formData.append('file', files[0])
      const res = await apiIntra.post('/conteudo/saveImgBody', formData, {
        headers: {
          'con

[2021-07-18 17:20] YanCamiloDev commented on #128
### Full implementation with axios:
#
[code]

[2021-07-20 14:44] aleksaav opened #230 "I can't enable scrolling = "no" for iframe :("
Hi @mkhstar,
**How can I enable scrolling = "no" when paste iframe, because the editor does not recognize it?**
Editor recognizes allowfullscreen and frameborder but scrolling = "no" can't, is there a way to fix it?
I would be very grateful for an answer :)
-
And in version 3.2.0 when I want to pull some bigger content from the database in setContents it will not display, but in 3.1.1 it displays.

[2021-07-21 09:23] PeterKerins opened #231 "How to display styles with created html?"
Not an

If I wanted to display a read only (not inside a sun editor component) how do I ensure the styles set during the creation match what is displayed?

Thanks

[2021-07-21 10:42] mkhstar commented on #228
@FaganSC
Can you open a more specific issue. Because I don't know how you came up with this.

[2021-07-21 10:42] #228 closed

[2021-07-21 17:37] FaganSC commented on #228
@mkhstar came up after installing the newest version of Suneditor-React into my SharePoint framework solution. It's currently using version 2.16.5 without issue inside my solution. When I upgraded to 3.2.0, and simply tried to build the solution, that is the errors I received.  It's a React 16.9.0 solutions.

[2021-07-22 09:54] mkhstar commented on #229
Hi @jeevansai502
Thanks so much for opening this issue. I think the problem has got to do with the core suneditor package.
@JiHong88 please check this codepen [https://codepen.io/mkhstar/pen/YzVxbrL](https://codepen.io/mkhstar/pen/YzVxbrL)

This problem occurs when the setOptions function is called

[2021-07-22 10:42] mkhstar commented on #230
Hi @aleksaav
currently there is no scrolling option. You can request this feature in the core suneditor package. Also to set the initial content, please use the `defaultValue` prop

[2021-07-22 10:42] #230 closed

[2021-07-22 10:49] mkhstar commented on #229
@jeevansai502
I just fixed your problem in the latest version of suneditor-react 3.3.0.
Although if you change the language, placeholder, height or the width of the editor you might encouter this problem. This is what i have pointed above. @JiHong88 will take a look at it in the core suneditor package.

[2021-07-22 10:49] #229 closed

[2021-07-22 10:51] mkhstar commented on #223
Hi @AsheshL,
in the latest version, you can now choose only the plugins you would like to use by overriding the plugins option in setOptions

[2021-07-22 10:51] #223 closed

[2021-07-22 10:54] mkhstar commented on #222
Please can you open this issue at the core suneditor package

[2021-07-22 10:54] #222 closed

[2021-07-22 10:55] #218 closed

[2021-07-24 13:40] jeevansai502 commented on #229
@mkhstar
Is this issue raised in the suneditor repository?

[2021-07-27 04:24] quynhnhu01 opened #232 "Error: Can't resolve 'react/jsx-runtime' when I install in NextJS"
I'm using:
node version : v14.15.4
npm version : 6.14.10
React: 16.8.6
Typescript: 3.7.4

![image](https://user-images.githubusercontent.com/54101819/127095105-8f9cb899-d367-4c69-b3dc-48720bdc45a0.png)

[2021-07-30 13:19] vladigubler opened #233 "CSS class names get stripped from the source"
Using version 2.16.5, I believe it didn't happen in the previous version. I cannot upgrade to a later version due to dependencies conflict with other components. Is there a setting or an option to prevent this from happening.
Steps to reproduce:

1. Enter source code mode
2. Add class name to any element (such as <div class="myclass">)
3. Exit source code mode
4. Go back to the source code, the cl

[2021-08-05 09:16] EwaMlynarczyk commented on #228
I have the same errors in my SPFX. Newer version of Suneditors required typescript version 4.x, but SPFX provides , as for now, just 3.7 :(
What did help to get rid of the errors is to install version: "suneditor-react": "2.16.5".
Errors don't popup anymore, but all in all, inserting pure editor onto my page ends with:
![image](https://user-images.githubusercontent.com/69498773/128325286-dc3208b7-

[2021-08-05 09:30] EwaMlynarczyk commented on #228
I guess the problem is that the newest version of Suneditor requries typescript 4.x, and  the newest available spfx provides us with typescript 3.7

[2021-08-06 11:24] Braweria opened #234 "How to import buttonList in NextJS?"
I want to import the `buttonList`, to customise my toolbar, but I am already stuck at importing it. I was following the README, but it didn't tell me how to import buttonList for NextJS, only for `SunEditor`, which I am importing dynamically.

I have tried both versions.
## 1. dynamicaly
[code]

Console logging `buttonList` then gives me a react forward ref, and console logging `buttonList.complex

[2021-08-06 13:11] Braweria commented on #233
This sounds like a similar issue I am having.

I am inserting elements programmatically into the editor, with data-attributes `data-id="some-id"`, so that I can read which element is what, since I need that information.

This is my code:
[code]
Then when I console log the elements inside my editor, it first has the data-attribute, but then they vanish. `data-id` also becomes just `id`, and if I wr

[2021-08-06 13:35] Braweria commented on #233
After finding this issue on the SunEditor GitHub Repo: https://github.com/JiHong88/SunEditor/issues/761 I learned that you can whitelist attributes, like so:

[code]

[2021-08-06 13:40] vladigubler commented on #233
Doesn’t work for me at all, I tried that, “class” property still gets removed.
I tried both this:
"attributesWhitelist": {
                "all": ["class"]
            }

And this:
"attributesWhitelist": {
                "all": "class"
            }

it happily ignores both

[2021-08-06 13:48] Braweria commented on #233
@vladigubler not sure "all" works, have you tried "p", or any other element to test it out?

[2021-08-06 13:58] vladigubler commented on #233
"all" is supposed to work according to the specs, but yes, I tried specific element names too, such as 'p' and 'div'
Note that I'm using it as a controlled component , with setContents and onChange mapped to state.

[2021-08-06 14:06] Braweria commented on #233
it might be "all" was later added.

[2021-08-06 14:10] vladigubler commented on #233
It doesn't look like it's a new property...

[2021-08-08 15:43] zt1983811 commented on #233
In typescript, it looks like `attributesWhitelist` is only accept one to one tag with attribute
[code]
What if I need to assign multiple attributes to one tag for white list
For example I need following:
[code]
Like this I have error duplicate identifier, which is making sense but if I try this
[code]
this give error of Record only accept string, string not string, string array

What Can I do with

[2021-08-08 15:52] zt1983811 commented on #233
Sorry NVM I just read the doc it's possible to do with following
[code]

[2021-08-08 18:01] zt1983811 commented on #233
Question How can I get rid of controls attribute in video tag
https://github.com/JiHong88/SunEditor/blob/6d4414ba476c843001da97e326c48c54cf60734a/src/plugins/dialog/video.js#L222
it looks like the plugin force to add `controls: true` I tried to change it in code mode but every time I save it add back controls: true

[2021-08-09 05:36] Braweria commented on #234
I have also tried `require`, which didn't work either and gave me the same error as `import`.

[2021-08-11 21:20] mkhstar commented on #234
@Braweria
I have realized this issue. I have to find another way of solving this problem. For version 3 i want users to use any suneditor version of their choice and this is bringing up these issues.  The problem is the main suneditor package ships its module in esmodule but nextjs supports commonjs (nodejs)

[2021-08-11 21:35] mkhstar commented on #234
@Braweria
For now you can import it like below
[code]

[2021-08-11 21:35] mkhstar commented on #234
I will include this in the documentation later

[2021-08-12 06:13] Braweria commented on #234
awesome, thank you for letting me know @mkhstar.

[2021-08-12 15:47] changyeamoon commented on #232
@JiHong88 bump. Same is happening outside of NextJS

[2021-08-12 18:20] AjiTae commented on #232
`"jsx": "react-jsx"` requires minimal react version 16.14.0.

[2021-08-12 20:21] changyeamoon commented on #53
@mkhstar I believe this issue is still happening in the latest release 3.3.0.

Can you confirm @doug-luce-kubra ?

[2021-08-17 02:39] TheDarkStrix commented on #234
@Braweria You can do this, no need for dynamic imports

[code]

[2021-08-17 08:08] mkhstar commented on #234
@TheDarkStrix
You can use the above example. It is shorter and cleaner

[2021-08-17 08:08] #234 closed

[2021-08-17 10:14] matteocollina commented on #8
Hello, I found the same problem. In my options I have`fullPage: true` but when I set html content with `<style>...</style>` the editor removes it so all styles are not applied.

[2021-08-17 10:59] TheDarkStrix opened #235 "Question: Custom Toolbar [nextjs]"
Hey Guys,

Is it possible to create custom toolbar (toolbar in different component) with suneditor-react ?

Any example of this would be really helpful.

@mkhstar

[2021-08-17 12:53] SimantoR commented on #231
I'd assume if you load the styles for SunEditor globally in your application, you just dump all that HTML from react using
[code]
Disclaimer: Did not test it.

[2021-08-17 18:19] pruthvi2103 opened #236 "Support for 1 toolbar multiple editors"
I am making an app (migrating from quilljs to sun as its causing a lot of issues)

What i want to do exactly
_______________________________
             Toolbar
------------------------------
------------------------------
     Editor no.1

------------------------------
------------------------------
     Editor no.2

------------------------------
------------------------------
    Editor no.3

[2021-08-20 08:24] keepyourcool opened #237 "(Default) in fontSize not working!"
### Issue
Hi, I have been using suneditor-react. When I use **fontSize** (I have been using it through the **buttonList**) the (default) option in the dropdown does nothing. Technically it should be changing the font size of the editor to default font size which i have defined as 14px in defaultStyle.  Is this a bug or am I making a mistake. Please help me out. Please find below my suneditor-react

[2021-08-22 16:05] eritondev-stack opened #238 "onSave event not exist."
editor.onSave = function (contents, core) {console.log(contents) } not exist in the list fuctions.

[2021-08-23 08:51] keepyourcool commented on #237
Hey can anybody please let me know if this is a real issue or is it occurring only for me?

[2021-09-01 05:20] Adityacs001 commented on #224
Hi @mkhstar , to confirm issue is resolved and you were right it was due to wrong import.

Thanks again for plugin and response.

[2021-09-01 05:20] #224 closed

[2021-09-01 19:47] krAlena commented on #217
Hi! I have some issue
    suneditor: 2.41.2,
    suneditor-react: 3.2.0

 readOnly  props stopped working.
 Is able to make editor block's contenteditable=false in readOnly  mode? Plugins like Grammarly detect contenteditable blocks and allow edit them, I don't think it's right...

[2021-09-02 20:25] estelleal opened #239 "Next.JS - this._iframeAutoHeight is not a function"
Hello,

I'm trying to use suneditor with NextJS, the editor is well displayed but when i'm writing inside, the editor looks to reload and i got this error :

[code]

Maybe someone already got this problem ?

Thanks

[2021-09-07 06:00] JiHong88 commented on #8
You must be use the [setIframeContents](http://suneditor.com/sample/html/out/document-editor.html#setIframeContents)

[2021-09-08 05:01] Brendan42L opened #240 "image keeps being deleted because state === "delete" - unwanted behaviour"
Hello,

What could cause onImageUpload to fire state === "delete" after the image is uploaded into the editor, this happens when resizing the image or selecting above or below the image

<SunEditor
        onImageUploadBefore={handleImageUpload}
        onImageUpload={handleImageUploadAfter}
        setContents={body}
        onChange={handleEditorChange}
        setOptions={{
          imageUploa

[2021-09-09 16:58] TheDarkStrix commented on #232
This might help you , in `tsconfig.json` or `jsconfig.json`
[code]

[2021-09-13 21:58] krAlena opened #241 "readOnly prop is not working"
Hi! I have some issue
suneditor: 2.41.2,
suneditor-react: 3.2.0

readOnly props stopped working.

Improvement: Is able to make editor block's contenteditable=false in readOnly mode? Plugins like Grammarly detect contenteditable blocks and allow edit them, I don't think it's right...

[2021-09-20 16:56] dennisat opened #242 "Question: how to pass the `matchBrackets` to the `codeMirror`?"
How can we pass the below properties to `codeMirror`?

- matchBrackets: true,
- autoCloseBrackets: true,
- matchTags: true,
- autoCloseTags: true,

These props are not options! It is part of the `EditorConfiguration` interface.

[2021-09-22 14:24] dennisat commented on #119
This is not a solution, it's a hack.

[2021-09-22 14:25] dennisat commented on #119
I have this issue, toggling the right/source button, the XML code is formatted.
Can we disable this?

[2021-09-22 14:40] dennisat opened #243 "The exported html code contains the `br` tag not self closed."
The generated `html/xml` code, whenever contains the `<br/>` element is exported as not self closed.

### Is exported as `<br>` while should be exported `<br/>`.

Of course, this can be fixed on the `onChange` event but I want to use it as an unmanaged component, and the exported code on the dom is still wrong.

**How can we fix this?**

For example, this is the generated code for a very simple ta

[2021-09-22 15:33] dennisat opened #244 "Paste image behaviour"
Currently, if you `Copy image`& `Paste` into the editor, a `data:image` is generated in the XML code like this:

[code]

Some old editors, instead of this, create the `img` element with `src`the link of the image (instead the data of it) like this:

[code]

**Can we control what will be pasted somehow?**

[2021-09-23 15:22] BahaMagi opened #245 "Language Object provided in readMe is not complete"
The Editor Language Object provided in the appendix of the readme is incomplete.

`"dialogBox"."audioBox"`

is missing in the list. This leads to a crash when using a custom language obj. Just adding
[code]
 works as a hotfix.

[2021-09-26 04:03] roker15 opened #246 "I am saving html code from suneditor to database, but getting back Katext maths is not rendering correctly. I am using html react parser to render it back."
I am saving html code from suneditor to database, but getting back Katext maths is not rendering correctly. I am using html react parser to render it back.

[2021-09-28 07:43] JoshuaSeth commented on #241
I have multiple issues as well with these updates.

[2021-09-28 07:44] JoshuaSeth opened #247 "readOnly prop, hideToolbar and correct height stop working with 3.2.0"
suneditor: 2.41.2,
suneditor-react: 3.2.0

From these versions on for the forementioned props stop working and the editor changes to a tiny scroll view instead of taking the height needed to display the contents without scrollbar.

[2021-09-30 20:35] qtarant commented on #239
Hello.
I have the exact same problem.
I have a working suneditor working on a create-react-app application but on NextJS it is not working because this error.

[2021-10-06 15:58] tarfao commented on #237
Hi, i set the `font-family: Arial`, but it doen't work for me too, when I show it is another family font. I must to edit my text and click in the font Arial on component sun editor then it work fine.

[2021-10-06 16:00] igor17400 opened #248 "How to retrieve base64 string for image upload?"
I have the following SunEditor component code

[code]

For `handleImageUploadBefore` and `handleImageUpload`

I have

[code]

[code]

_How can I retrieve the base64 string of the uploaded image from my computer?_

I need the base64 string because I want to upload the image to firebase storage and then generate a link for the uploaded image.

[2021-10-08 17:43] MakiMarc commented on #239
It would be helpful if you could provide a code example of how you implemented the SunEditor in your component.

But I suspect you are using `setContents` to set the content. Use `defaultValue` instead and the error should not appear anymore.

Two-way binding should not be used. This is because the setContents statement triggers the onChange event. If you want to set the initial value of the edito

[2021-10-08 18:11] MakiMarc commented on #94
You are using `setContents` to set the content. Use `defaultValue` instead and the error should not appear anymore.

Two-way binding should not be used. This is because the `setContents` statement triggers the onChange event. If you want to set the initial value of the editor, use the `defaultValue` prop.

[2021-10-15 09:29] mkhstar commented on #241
I would like to fix these issues these weekend

[2021-10-15 09:33] mkhstar commented on #239
@estelleal please provide a code example. But I think @MakiMarc 's comment will help you fix the issue

[2021-10-15 11:55] #248 closed, assigned to nobody

[2021-10-15 12:06] mkhstar commented on #244
@dennisat can you open this issue in the core suneditor package?

[2021-10-15 12:06] #244 closed

[2021-10-15 12:07] mkhstar commented on #243
@dennisat  please open this issue in the core suneditor package

[2021-10-15 12:07] #243 closed

[2021-10-15 12:11] mkhstar commented on #240
Hi @Brendan42L I have realized that you are using two-way binding for the editor. To set the initial content of the editor please use the defaultValue prop instead. This is because when setContents receives a new value suneditor calls the onChange method

[2021-10-15 12:34] mkhstar commented on #238
@eritondev-stack
The onSave function doesn't exist yet on the core suneditor package, If you need this functionality use the `callBackSave` method in `setOptions`

[2021-10-15 12:34] #238 closed

[2021-10-15 14:51] JoshuaSeth commented on #241
Hi @mkhstar no problem, thanks for your reaction and a beautiful editor! I should notify you that I cannot reproduce the readOnly error anymore, could be error from my side.

What i still have when updating above 2.40 and 3.0 is an editor that is only approximately 200px high and as such has a tiny view on the scrollable content inside. Prior to this update the editor would stretch vertically to f

[2021-10-15 18:24] roker15 opened #249 "square root is not rendering properly"
When i write equation in editor square root symbol renders properly. I saved data as html in database then fetch data and again rendered in react component square root is not rendering properly . only numbers are shown but square root sign is not visible.

[2021-10-16 09:22] mkhstar commented on #241
@JoshuaSeth  you can use the `height` prop to set the preferred height of your choice, even thought setting it to a percentage is still and issue. Check out this thread https://github.com/JiHong88/SunEditor/issues/627

[2021-10-18 09:47] niltonxp2 commented on #128
Can you show your code?

[2021-10-19 10:54] niltonxp2 commented on #128
UploadHandler is the third param that you get onImageUploadBefore, you put as four!
Must be like:
onImageUploadBefore =  (file, info, uploadHandler) => {...

[2021-10-20 06:13] umawani commented on #128
Ahh it works perfectly now. Stupid mistake on my end. Thank you so much for your help @niltonxp2 ! :)

[2021-10-27 08:54] AliBayatMokhtari opened #250 "How to put content at the cursor position using Ref"
Hi. I wanna know how to put content at the cursor position using `Ref`. This is how i use ref for `suneditor-react`:

[code]

[2021-10-30 17:08] roker15 commented on #199
new value is updated only on second click... i tested in console as well as in alert both triggered in second click only

[2021-11-04 07:35] UncleJ-CJH opened #251 "How to use ImageUploadBefore w/o uploadHandler"
Hello, I have a question about uploadHandler.

I wan to use directly using URL after onImageUploadBefore w/o uploadHandler.

I guess onImageUploadBefore - uploadHandler, this flow is works to use raw images.
When I use big size Images, PayloadTooLarge error is occured.

onImageUploadBefore {
 imageUpload => return URL
 display Image using URL
}

JiHong88 said user core. (https://github.com/JiHong8

[2021-11-04 10:50] mkhstar commented on #251
Hi @UncleJ-CJH,
Learn more about how to use the core in suneditor-react here https://github.com/mkhstar/suneditor-react#about-core

[2021-11-04 10:50] #251 closed

[2021-11-04 10:52] mkhstar commented on #236
Hi @pruthvi2103 this is outside the scope of suneditor currently. You can open a feature request in the main suneditor repository

[2021-11-04 10:52] #236 closed

[2021-11-08 17:45] AliBayatMokhtari commented on #29
Hi. you can do it like:
[code]

[2021-11-08 17:45] AliBayatMokhtari commented on #29
Hi. you can do it like:

[code]

[2021-11-12 14:41] krAlena commented on #247
suneditor: 2.41.3,
   suneditor-react: 3.3.0

   Property "placeholder" doesn't work

[2021-11-16 15:57] mkhstar commented on #247
@JoshuaSeth and @krAlena
Can you please check on the latest version? If there are any issues please draw my attention

[2021-11-16 15:57] #247 closed

[2021-11-16 15:57] mkhstar commented on #245
Thanks @BahaMagi
Fixed in the latest version

[2021-11-16 15:58] mkhstar commented on #241
@krAlena can you please the latest version? If you encounter any issues please draw my attention

[2021-11-16 15:58] #241 closed

[2021-11-16 15:58] #245 closed

[2021-11-16 15:59] mkhstar commented on #232
@quynhnhu01 can you please check on the latest version. If there are any issues please draw my attention

[2021-11-16 15:59] #232 closed

[2021-11-16 16:01] #250 closed

[2021-11-16 16:01] #121 closed

[2021-11-16 20:36] krAlena commented on #239
Hi! I have had the same issue.

This solution is works for me:
1) Dynamic import
[code]

2) Use the editor without property "plugins"

[2021-11-17 17:29] #239 closed

[2021-11-19 08:27] roker15 commented on #246
I solved it, it was because the **html sanitizer tool** was removing svg image for rendering maths in correct format, i allowed svg in my html sanitizer, so now it is working fine.... thanks bro... awesome library.

One issue i facing is that i am able to select and  delete image after 2-3 times click on image from suneditor, even though editor is in read only mode.

[2021-11-19 08:29] roker15 opened #252 "One issue i facing is that i am able to select and delete image after 2-3 times click on image from suneditor, even though editor is in read only mode. I can do it even when editor is diabled"
One issue i facing is that i am able to select and delete image after 2-3 times click on image from suneditor, even though editor is in read only mode. I can do it even when editor is diabled

[2021-11-21 14:57] adnanfuat opened #253 "How to integrate Suneditor with FORMIK ?"
https://prnt.sc/20d9qzm

When ı submit form, suneditor doesn't change ?

[2021-12-01 21:37] mkhstar commented on #253
@adnanfuat
I think it will be better to use `setFieldValue` in the onChange handler

[2021-12-01 21:37] mkhstar commented on #253
The name prop is used for submitting forms

[2021-12-02 20:03] krAlena opened #254 "Uncaught Error: [SUNEDITOR.core.callPlugin.fail]"
Hi!
Toolbar's actions used in dropdowns have stopped working
[code]

Versions' info:
[code]
![image](https://user-images.githubusercontent.com/26471239/144491416-92d5529f-c84e-4f0d-8631-cb54776b7841.png)

[related issue](https://github.com/JiHong88/SunEditor/issues/162#issuecomment-954561271)

[2021-12-08 09:57] roker15 commented on #94
editor!.current!.destroy() is not a function

[2021-12-08 17:18] roker15 commented on #94
another error ---
editor!.current!.destroy() is not a function

[2021-12-15 19:44] rogerbage opened #255 "Can I setContents after render?"
I'm using next js and I want to reload the content dynamically when content change in the server. I dont have any idea how to do that. I'm get the content and put in the server with no problems using onchange, but how i put content in the editor?

[2021-12-15 19:47] rogerbage commented on #255
I try something like that, but with no hope to work:

`async function getText(){
  const strEditor = await client.getFileContents("/files/makena/rogerbage/file.txt", { format: "text" });
  SunEditor.setContents("strEditor");
  return strEditor;
}`

[2021-12-16 14:18] krAlena commented on #254
It is very strange, but property "placeholder" cause that errors (and placeholder isn't working by itself).
Tools have worked when I've removed this property.

Please, fix placeholder's issue

[2021-12-16 22:34] afpglobal-websites opened #256 "handleChange issue."
I'm very new to react. I'm somewhat familiar with the useState hook and have used it often, however I'm having a real issue using it to update content with sundeditor. I'm hoping someone can help. I'm getting content from firestore and populating the form field with that content. I need to post any changes to the content back to firestore, but since I'm unclear on how to change the state of that c

[2021-12-17 14:24] afpglobal-websites commented on #256
Fixed.

[2021-12-17 14:24] #256 closed

[2021-12-17 14:25] afpglobal-websites commented on #256
I found a solution.

[2022-01-02 21:42] dmanaster commented on #199
This is working for me, except I am getting a warning that "Function components cannot be given refs."

It looks like the ref is being passed in inputProps.

It seems to be working anyway, but I am afraid that it will cause problems in the future.

How I can fix this?

[2022-01-17 08:37] sm3sher opened #257 "<img> not shown when upgrading to suneditor 2.42.0"
I've upgraded from v2.41.3 to v2.42.0 and encountered a problem where all types of images are not shown.
My images were in base64-data format and I appended them through `appendContents`.

Could it be that the wrapper `suneditor-react` is not compatible with the latest suneditor?

[2022-01-18 09:12] AliBayatMokhtari opened #258 "Passing ref to text area"
How can we pass ref to text area in `SunEditor` component in order to use react-hotkeys-hooks?

[2022-01-19 11:25] BahaMagi commented on #254
Any estimate when/if this is going to be fixed?

[2022-01-22 11:51] mkhstar commented on #255
Hi @rogerbage
You need a ref to get the suneditor instance to do this. Eg. below:
[code]

[2022-01-22 11:51] #255 closed

[2022-01-22 11:58] #253 closed

[2022-02-07 08:51] DeepikaSharma5 commented on #254
@mkhstar Can you please give use any update on this issue?

[2022-02-20 00:47] mkhstar commented on #257
Hi @sm3sher can you check out the latest version?

[2022-02-20 00:47] #257 closed

[2022-02-20 00:47] mkhstar commented on #254
A new version has just been released which supports the latest suneditor. Can you check it out?

[2022-02-20 00:48] mkhstar commented on #252
The latest version might fix this issue @roker15 can you check it out?

[2022-02-20 00:48] #252 closed

[2022-02-20 00:49] mkhstar commented on #235
@TheDarkStrix this issue must be open in the core suneditor package

[2022-02-20 04:17] roker15 commented on #252
yes it's fixed i think . I think you are the author of suneditor-react could you help me with https://github.com/JiHong88/SunEditor/issues/940

[2022-02-20 04:21] roker15 opened #259 "This serious issue still persist please help https://github.com/JiHong88/SunEditor/issues/940"

[2022-02-20 04:22] roker15 commented on #259
This serious issue still persist please helphttps://github.com/JiHong88/SunEditor/issues/940

[2022-02-20 04:24] roker15 opened #260 "I see a new version have been released today , please add some note on new release so that we could know what has been fixed"

[2022-02-23 08:08] sm3sher commented on #257
I've checked out the latest version for `suneditor` and `suneditor-react` and the problem still persists.

[2022-02-23 12:10] DeepikaSharma5 opened #261 "Editor is not working when I update to new version 3.4.0"
When I install the sun editor I am getting and error as suneditor is not found in the npm package.
`./node_modules/suneditor-react/dist/SunEditor.js
Module not found: Can't resolve 'suneditor' in 'C:\Users\deepi\Desktop\Client-Projects\Aromeul-producer\node_modules\suneditor-react\dist'`

[2022-02-23 12:29] #261 closed

[2022-02-23 12:37] DeepikaSharma5 commented on #254
@mkhstar it is not fixed. I used 3.4.0 and still getting the same error

[2022-03-03 12:06] JiHong88 commented on #254
@DeepikaSharma5 @krAlena @kidar2 https://github.com/mkhstar/suneditor-react/issues/254#issue-1069934585
This error occurs when using a plugin that is not registered when creating the editor.
Does an error occur even if I register the plugin in the options?

[2022-03-03 12:52] DeepikaSharma5 commented on #254
Yes it occurring even after register the plugin in options

[2022-03-06 09:06] JiHong88 commented on #254
@DeepikaSharma5 Um.. Does the "suneditor" package get the same error?

[2022-03-07 03:49] yeojihun opened #262 "If there are n or more editor declarations, the focus movement does not work normally."
Declare n editors within the same component and shift the focus to the editor first.

If you click another editor without entering a value, the focus will not move.

[2022-03-10 22:25] andylwelch commented on #262
I see this issue in Chrome (but not Firefox) when I have multiple editors on the page.

Steps to reproduce,

1. click into an editor with no content
2. click into a different editor

Expected Outcome
- keyboard focus to be in the second editor

Actual outcome
- keyboard focus is still in the first editor (the onFocus is even triggered again!)

Notes
- works fine in Firefox and also if the first ed

[2022-03-12 17:08] DeepikaSharma5 commented on #254
@JiHong88  I have not checked with that because not using it. Better if you try to create a react project and check this issue. It will be helpful for everyone.

[2022-03-13 14:44] mkhstar commented on #254
@DeepikaSharma5 it will be really helpful if you provide a demo on sandbox for this. Because I can't really reproduce this error

[2022-03-13 14:56] mkhstar commented on #262
This is also reproducable with the core suneditor package

[2022-03-13 14:57] #260 closed

[2022-03-13 15:18] mkhstar commented on #258
Hi @AliBayatMokhtari
You could wrap it with another element and pass the ref to that element
[code]

[2022-03-13 15:18] #258 closed

[2022-03-13 15:18] mkhstar commented on #249
Please open this issue in the core suenditor package if it still persists

[2022-03-13 15:18] #249 closed

[2022-03-13 15:19] #216 closed

[2022-03-14 07:52] JiHong88 commented on #254
@DeepikaSharma5 This error is not reproduced.
Please provide more information so we can reproduce this problem.

[2022-03-16 17:37] Sorok-Dva opened #263 "SyntaxError: Cannot use import statement outside a module with Next.js"
Hello, I tried you package for my next.js application but I've an error while trying to configure it.

The problem appears to be on the import `import SunEditor from 'suneditor-react'`
That gives me
![image](https://user-images.githubusercontent.com/15158794/158652594-f3f2fd79-e589-43ab-bc68-7cdfd984140f.png)

If I remove the import, this error is changed by another (normal) one

Here is my code,

[2022-03-20 00:49] #263 closed

[2022-03-21 13:10] rahulkushwah-siliconithub commented on #128
thanks bro now it will work

[2022-03-21 13:36] AliBayatMokhtari commented on #250
In some case that someone needs this functionality: You can use `getSunEditorInstance` and use core functions to do this.
[code]

[2022-03-30 11:56] WISUNGWON commented on #263
How did you resolve this issue? I have same problem my nextjs application. @Sorok-Dva

[2022-03-30 14:18] Sorok-Dva commented on #263
I solved this issue with the documentation. I had to create a new file (Editor.js as an exemple)

[code]

[2022-03-30 23:16] LeonardoDaLuz opened #264 "showing dropdown above edit font size element."
![image](https://user-images.githubusercontent.com/80224694/160945967-86dc60ec-d3dc-4a76-93d5-1f880b8e3b35.png)

showing dropdown above edit font size element.

![image](https://user-images.githubusercontent.com/80224694/160946032-576897e9-0e35-4582-8258-26f58eb278d4.png)

[2022-04-05 11:34] idrisay opened #266 "About custom table"
<img width="617" alt="Screenshot 2022-04-05 at 13 16 05" src="https://user-images.githubusercontent.com/97283155/161742456-16066515-7c51-4ae4-b41f-db1c3b78e671.png">

I have added a custom table plugin for using different class names and styling.  But when I add a new table to the table first it don't gives an error but just add `<table class="custom-table"><tbody></tbody></table>` without `tr` an

[2022-04-06 09:45] askuta opened #267 "Suneditor resets an object managed by useState hook"
I created a reusable wrapper component around Suneditor that manages its configuration (RteEditor.jsx) and the visibility of the toolbar.
In App.jsx I want to edit a `lesson` object, that has a simple `name` and a formatted `description` properties. The lesson object is managed by a useState() hook, the name property can be edited via an input HTML field and the description property can be edited

[2022-04-06 14:19] askuta commented on #267
I've found a similar issue [#149](https://github.com/mkhstar/suneditor-react/issues/149). In that case your solution worked fine on class-based components. Unfortunately, I couldn't make it work on functional components and useState hook.

[2022-04-11 07:39] askuta commented on #267
As a temporary solution, I've added useEffect() to the wrapper class. It breaks the apparent entanglement between SunEditor (wrapper component) and the data managed by useState() (parent component).

[RteEditor.zip](https://github.com/mkhstar/suneditor-react/files/8461967/RteEditor.zip)

[2022-04-14 11:32] #266 closed

[2022-04-14 17:05] a-tonchev opened #268 "Bug when adding html table with appendContent"
There is a bug when I try to append as content a table. Error comes in the console.

Reproduction:

https://codesandbox.io/s/suneditor-react-forked-1zclby?file=/src/App.js:973-1021

Click on button ADD CONTENT and watch the console. The onChange is not working in this case!

[2022-05-06 02:14] wakywayne opened #270 "I am struggling to figure out how I am supposed to set the text in the editor, into state without the field re-rendering?"
# Problem:

## I have tried switching around combinations with the onChange & getSunEditorInstance in every way

**I dont know if I am just dumb, but it seems that you can read the entire docs that are provided and still not have a clue on how to actually use the information in the editor**

## Here is my code:

[code]

[2022-05-16 06:42] lottopotato opened #271 "align left button not worked"
Hi Thank for contributors.

Left align button changes paragraph alignment to `<p>` not for `<p style = 'text=align:left;'>`.
and my project, recognized `<p>` as just center alignment.

i think, it was affected by project css.
however being `<p style = 'text=align:left;'>` seems to be better clean then `<p>.`

[2022-05-16 14:57] BahaMagi opened #272 "Blur and Focus event propagation / bubbling cannot be stopped"
## Problem
Calling `stopProgagation()` on focus and blur events does not cancel event bubbling.

[code]

## Expected behavior
Clicking in the editor should cancel the propagation of the focus event and thus only print `editor, Focus"  and nothing else.

## Actual behavior
Clicking in
![image](https://user-images.githubusercontent.com/52032030/168621974-0f4f4521-4d66-43bc-a1b1-757e09ed54de.png)
Cli

[2022-05-16 15:03] BahaMagi commented on #262
Maybe related to #272. We have similar problems with multiple instances on one page. We can only reproduce it on Chrome + Mac. Windows and all other browsers work for us. In general, blur and focus events seem all over the place with multiple instances on the same page.

[2022-05-17 08:13] BahaMagi commented on #262
The [2.43.0](https://github.com/JiHong88/SunEditor/releases/tag/2.43.0) version fixed the focus movement behavior for us.

[2022-05-17 08:14] BahaMagi commented on #272
Update to version [2.43.0](https://github.com/JiHong88/SunEditor/releases/tag/2.43.0) did not help.

[2022-05-20 12:13] sm3sher commented on #257
As of now the problem is fixed with currently used versions;
[code]

[2022-05-24 19:16] andrew-joung opened #273 "Issues with setContents"
I am calling `setContents()` with contents being something like `<p><a href="">John Doe</a></p>`.
`setContents()` gets called with the correct parameter the first time but is called again with the values `<p></br></p>` and resets the contents of the editor.

I can't seem to track the second call of `setContents()` is this a known behavior?

[2022-06-07 13:04] #147 closed

[2022-06-08 16:37] s-kris opened #274 "toolbar buttons throw error when using custom plugins"
A custom plugin is added as shown in the docs: `http://suneditor.com/sample/html/customPlugins.html`
But when clicking on any button in the toolbar, the editor throws basically`"not found in list error"`.

## Code

[code]

## Versions
nextjs:  12.1.0
suneditor: 2.43.8
suneditor-react: 3.4.0

## Minimal reproduction
 https://stackblitz.com/edit/nextjs-jupgij?file=pages%2Findex.js

## Screenshots:

[2022-06-08 17:08] s-kris commented on #274
Thanks to @JiHong88, this is fixed.

https://github.com/JiHong88/SunEditor/issues/1002#issuecomment-1150153365

[2022-06-09 02:24] coffee3k commented on #181
I really need this functionality. Is there a way to switch back real quick to WYSIWYG before submiting the form? That would really help.

[2022-06-09 07:09] Huynh12345678 opened #275 "Can not use Sun Editor in Next JS with CodeMirror"
I am trying to use SunEditor in a NextJS app which I am able to with dynamic imports as below

const SunEditor = dynamic(() => import("suneditor-react"), {
  ssr: false,
});

Now the problem begins when I wish to use the codeMirror option in the Editor which turns out I need to import dynamically as well

const CodeMirror = dynamic(() => import("codemirror"), {
  ssr: false,
});

And after setting

[2022-06-16 02:40] roker15 commented on #94
This issue was not visible in recent version. But After updating to React 18, Nextjs 12 and lastest version of suneditor and suneditor-react. This issue is again in picture and my production app is crashing. please help it's urgent.

I can't destroy using `editorRef.current.editor.destroy()` because there is not `editor `object in `editorRef.current` . However there is destroy function in `editorR

[2022-06-22 10:58] saadelsabahy opened #276 "Is there is any way to custom the preview page"

[2022-06-25 07:58] hrvsdev opened #277 "Can't install on React 18"
Please update your `package.json` to install on React 18.
I got the following error while installing:
[code]

[2022-06-25 09:02] mkhstar commented on #276
@saadelsabahy  which preview page?

[2022-06-25 09:03] mkhstar commented on #277
@kingvyas thanks for notifying, fix coming soon

[2022-06-25 09:07] mkhstar commented on #273
@andrew-joung can you provide an example? I couldn't really figure out the problem

[2022-06-25 09:07] #268 closed

[2022-06-25 09:09] mkhstar commented on #271
The content for the style attribute is meant to be used in a css context. `text=align:left;` wouldn't work

[2022-06-25 09:09] #271 closed

[2022-06-25 09:22] mkhstar commented on #272
@BahaMagi it might be related to the main suneditor package but the workaround i found for this is to wrap the suneditor with a div. Eg below
[code]

[2022-06-25 09:38] mkhstar commented on #267
@askuta i couldn't really reproduce your problem. But one problem i noticed with your code is that you are binding the contents and setting again after onChange.
The `setContents` of the RteEditor can be removed

[2022-06-25 09:44] mkhstar commented on #267
Also i realized that you use the old value of your state while reseting the state. You need to use the current version (using the callback of the `setState`) of the lesson value to reset the state I have modified your two change functions below. Notice how i used the `setLesson`

[code]

[2022-06-25 09:45] #267 closed

[2022-06-25 09:45] #262 closed

[2022-06-25 12:36] saadelsabahy commented on #276
when click preview open new page i mean this page is there is any way to add content to it ?

[2022-06-28 09:26] #246 closed

[2022-06-29 11:03] AliBayatMokhtari commented on #117
You can use ref to put content at the cursor position: ```editorRef.current?.insertHTML("Some text or html elements", false, false, false);```

[2022-06-30 01:56] ezzadaghweb commented on #277
I have the same problem

[2022-06-30 05:37] whybein commented on #155
Text alignment is fixed but image alignment especially to the right is not working fine. It is aligned to center.
I fixed this by code below on react(NEXTjs)

[code]

and then It shows peroperly
[code]

[2022-07-06 16:22] albcunha opened #278 "Full screen disables setDefaultStyle"
Hello! Greate work with the wrapper. I spent many hours looking for a simple and featured editor and suneditor + react is great choice!

I found a possible bug. When I use setdefatultstyle and toggle full screen, it will remove defaultstyle.

https://codesandbox.io/s/suneditor-react-forked-wk8qtj?file=/src/App.js

If I use editor.current.setDefaultStyle, I can´t set top:0 left:0, and the text edit

[2022-07-07 14:56] sanketsushounen790 commented on #277
Yeah, I just ran into this. Please migrate it to react 18 ! Thank you @mkhstar

[2022-07-12 07:52] mkhstar commented on #277
Could you try it on the latest version?

[2022-07-12 08:21] choisuhyeok1255 opened #279 "How do I upload an image through s3?"
## Version
3.4.0

I want to upload an image using suneditor.
I want to know how to upload the image to s3.
Can I upload it using the input tag?

[2022-07-13 07:51] fatimaFaibrik commented on #94
Hello,
I have the same issue and tried any solutions I could find in this issue and the #1037 but I have still this error message : this._iframeAutoHeight is not a function.
Any news since these 27 days ?

[2022-08-02 08:35] zanzlender opened #280 "Adding custom plugin breaks provided plugins that have dropdown/dialog"
I'm currently making a custom plugin for a Mathlive input field. I have some minor fixes to do but generally it works 👍

![image](https://user-images.githubusercontent.com/44570474/182329410-b21b5d8c-f565-4caa-b744-4264ddd6b7a4.png)

However, when I try to use some of the already made plugins, specifically plugins that have a dropdown or a dialog (e.g. table, align...), I get an error:
[code]

Thi

[2022-08-02 09:46] zanzlender commented on #280
**Update**

I still don't know why exactly this is happening, but it has something to do with the plugins prop...

My guess would be that if the plugins array is provided it doesn't take search for the plugins based on the buttonList...

But anyways, manually importing the plugins and adding them all into the array fixed this for me 👍

[2022-08-02 10:47] zanzlender opened #281 "Bug: after deleting all nodes, typing doesn't create a new node"
I believe this is a bug... If not then I would appreciate feedback on how to solve it :)

When you delete nodes individually then everything is ok, after you delete the last one a ```<p>``` node will be added for general text and you can do everything normally. However, if you select all nodes with CTRL+A then delete them, it will remove all nodes from the editor. Although you can type and see tex

[2022-08-13 14:51] AndreasBitzan opened #282 "Plugins stop working as soon as custom plugin is used"
Hello,
I'm a big fan of SunEditor but recently I noticed that as soon as I use a custom plugin, all other core plugins like Link, Image etc. stop Working. I am using SunEditor React in my NextJs App.

To be more precise, I get the following error, when I click on the button "link" inside the toolbar:
[code]

I am using
[code]

And here is my Editor implementation:
[code]

I already implemented the

[2022-08-18 04:28] zilkenberg22 opened #283 "SyntaxError: Cannot use import statement outside a module NextJs build"
### version :
  "suneditor": "^2.43.14",
   "suneditor-react": "^3.4.1"

### Main Code :

[code]

### ERROR:
[code]

[2022-08-21 01:57] #277 closed

[2022-08-25 03:28] roker15 commented on #4
It only works when SSR=false

[code]
So how to use with `getserversideProps`?

[2022-08-29 15:12] krAlena commented on #254
[JiHong88](https://github.com/JiHong88) Hi! This error occurs when I register the custom plugin in the options.  This issue came back with versions:
[code]
![image](https://user-images.githubusercontent.com/26471239/187233964-106cb591-8ab0-4c57-bd0a-94670a6103cb.png)

Example of using:
[code]

[2022-09-01 13:26] intelligentCoding opened #284 "Override drawItems functions for imageGallery."
Is there a way to override `drawItems` function so one can control the output html?

[2022-09-05 11:35] JiHong88 commented on #254
@krAlena
Custom options and default options are all treated the same.
Both the basic option and the custom option must be registered.
`plugins: {custom_plugin, ...plugins}`

[2022-09-07 02:25] musang33 opened #285 "Paste some text and images at once but cleanData.length of OnPaste is 0"
2.8.0 ~ 2.16.1, 3.4.1

If you copy and paste a text larger than a certain size containing an image, the length value of OnPaste's cleanData may be zero.

reproduction)

https://www.sisain.co.kr/news/articleView.html?idxno=48404

Copying the contents of to OneNote (MicroSoft) switches the image from Link to Blob data.
If you copy the same content about 3 times, increase the size, and paste it into

[2022-09-07 03:27] #285 closed

[2022-09-16 12:04] web-veera opened #286 "Uncaught TypeError: Cannot read properties of undefined (reading 'charCounter')"
Hi ,
when i use maxCharCount in my Nextjs project it shows error like following

**"Uncaught TypeError: Cannot read properties of undefined (reading 'charCounter')
    at eval (core.js?7467:5599:45)"**
I don't know how to resolve this error. could anyone help me?

component file

import React from 'react';
import dynamic from 'next/dynamic';
import 'suneditor/dist/css/suneditor.min.css';

const Su

[2022-09-19 18:51] kubuntux opened #287 "Font label, size label and format label not updating"
When new font, size or format has been selected, the label is not updating.

https://codesandbox.io/s/xenodochial-sky-3x51wp?file=/src/App.js

In the original package, it is working.

http://suneditor.com/sample/index.html

[2022-09-22 08:53] parkkiyoung0116 opened #288 "Question : How can I hide navigation?"
Hello.
First of all , I want to tell you Thanks for this super sexy editor.👏👏👏

I saw the issue about the diffrence between editor text and HTML show.
so I want to make "sunEditor" to "fake textarea". And I applied "hideToolbar", "disable", "readOnly(?)"

but I couldn't hide undenline navigation. (class name se-navigation?)
![image](https://user-images.githubusercontent.com/106043239/191701594-d54

[2022-10-04 06:19] said7388 opened #289 "NextJS TypeError: core._resourcesStateChange is not a function"
I'm trying to use Sun editor with NextJs for the first time, But I've got these error

[code]

my code is:
[code]

[2022-10-05 14:40] MejanH commented on #289
yes, I am also facing this issue. I had to go back to the old versions.

[2022-10-05 22:45] raiseerco commented on #289
Can confirm the same issue, tried every single version and the only one that works is the 2.16.5.

[2022-10-06 02:46] hyen22 commented on #289
just tried yesterday with latest version, having same problem

[2022-10-06 03:05] said7388 commented on #289
This version is working........

[2022-10-07 08:30] musang33 opened #290 "setContents is not working after update"
I used suneitor-react@2.8.0 and tried updating to 2.16.5.

However, setContents does not work.
The suneditor was initialized using setContents by importing data from the DB.
There is clearly data, but nothing is displayed.

And I googled this article out.
https://github.com/mkhstar/suneditor-react/issues/82
Is this the right cause?

But I don't understand that.
How do I fix it?

Attached is the so

[2022-10-07 21:53] Taeeun-Kim opened #291 "Change font/font-size of placeholder is not possible"
It seems not possible to change the font/font-size of placeholder.
Did I miss something?

[2022-10-21 13:41] mariosknl opened #292 "Change Email Editor content programmatically."
I'm trying to find a way to change the content inside of an email editor programmatically. I've tried almost everything but unfortunately, I realize that it's not working as expected. I'm using ReactJS and SunEditor package. Can anyone please help me out with it?

[2022-10-22 18:27] RajendraAVerma commented on #289
still facing same problem with next.js.

[2022-10-24 15:47] ertu96 commented on #289
same issue

[2022-11-03 11:47] remaxmillennium commented on #289
yes, I am also facing this issue

[2022-11-04 10:21] sreehari-cyberonics opened #293 "Text behaviour change on copy paste"
On copy pasting a content to preview, the style change according to text I copied.
I want only text not it's style

Example :
const mycontent = <h1 Sun editor</h1 -> *tag not closed properly Github Problems
<SunEditor defaultValue={mycontent} / -> *tag not closed properly Github Problems

If the copied text is bold
Copied text  =>  **Bold Text**

output : <h1 style={{ fontStyle:'bold' }} >Bold Tex

[2022-11-09 12:57] mnezmah commented on #283
I have the same issue:
    "suneditor": "^2.38.7",
    "suneditor-react": "^3.4.1",

` .../node_modules/suneditor/src/plugins/index.js:4
    import blockquote from './command/blockquote';
    ^^^^^^

import React from 'react';
import SunEditor from 'suneditor-react';
import 'suneditor/dist/css/suneditor.min.css'; // Import Sun Editor's CSS File

export const Wysiwyg = () => {
    return (

[2022-11-13 16:56] VikingOfValhalla opened #294 "SunEditor-React Video Embedding Auto Adjusts HTML"
Editor overwrites iframe embeding causing issues with dirty form validation. Is there no setting to stop Suneditor from adjusting the HTML? I'm using an API to sanitize the HTML.

This is the HTML that it returns:
[code]

This is what was submitted:
[code]

[2022-11-23 09:40] Albinvadakan opened #295 "Selected font styles are getting resets to the default style when backspace is clicked"
@mkhstar
Thank you for the amazing editor.

There is an issue I'm facing with the editor, the selected font styles are getting resets to the default style when multiple times the backspace is clicked.

Steps to reproduce the issue

* Select a font type and size in the editor and start typing.
* Then press 'enter' key 2 times

![image](https://user-images.githubusercontent.com/42968407/203514319-b7

[2022-11-25 20:28] TheStarkster commented on #289
same here

[2022-11-28 14:25] #294 closed

[2022-11-30 05:09] kimyoungtak2 commented on #289
same here

[2022-11-30 11:54] onyxcool commented on #254
Hi @JiHong88 ,

thank you for the editor - it's really nice and very customizable.
I've similar problem described here, can you, please provide more details regarding your last answer?

It's a bit unclear what should I do? I've bunch of plugins which do not work in latest 3.4.1 version.

[2022-11-30 12:30] onyxcool commented on #254
Hi again @JiHong88 ,

I've realized what you mean and now it works as expected.
So I had to import plugins and initialize it correctly.

Please, find an image below
![image](https://user-images.githubusercontent.com/11150186/204796718-c03385bf-147c-4d0b-80da-780733c8f6f5.png)